footer {
  background-color: rgba(0, 0, 0, 0.5);
}
.us h3 {
  color: rgba(255, 196, 0, 0.8);
  text-shadow: 1px 1px 0 #000;
  margin-bottom: 1rem;
}
#about-us {
  padding: 1rem 0;
}

.aboutus {
  padding-left: 2rem;
}
.aboutus a {
  text-decoration: none;
  color: rgba(255, 196, 0, 0.8);
}
.aboutus a:hover,
.aboutus a:active,
.aboutus a:focus {
  text-decoration: underline;
}
.links {
  margin-top: 0rem;
}
.newslatter {
  padding-left: 2rem;
}
.us p {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
  line-height: 30px;
  text-shadow: 1px 1px 0 black;
}

.links h3 {
  margin-top: 2rem;
  padding-left: 2rem;
}

.post-footer {
  text-align: center;
  padding-bottom: 3rem;
}
.post-footer p {
  font-size: 0.5rem;
}
.links ul {
  padding-left: 32px;
}
.links li {
  display: block;
  padding-bottom: 1rem;
}
.links a {
  transition: 0.3s all ease-in-out;
  font-size: 0.6rem;
}
.links a:hover,
.links a:active,
.links a:focus {
  color: rgba(255, 196, 0, 0.8);
}
.social-icons {
  padding-left: 32px;
}

.fa-brands {
  font-size: 25px;
}
.fa-youtube {
  padding-left: 10px;
}
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #333;
  color: #fff;
  padding: 11px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

#scroll-to-top:hover {
  opacity: 0.7;
}
.iban {
  font-style: normal;
  color: rgba(255, 196, 0, 0.8);
}
.color {
  font-style: normal;
  color: rgba(255, 196, 0, 0.8);
}
.bank {
  margin-top: 2rem;
  margin-bottom: 0;
}
@media screen and (min-width: 800px) {
  .us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
  }
  .us p {
    padding: 0;
    font-size: 0.8rem;
    text-shadow: 1px 1px 0 black;
  }
  .links h3 {
    margin-top: 0;
    padding-left: 2rem;
  }
  .aboutus {
    padding-left: 2rem;
  }
  .post-footer {
    text-align: right;
    padding-bottom: 3rem;
  }
  .links a {
    transition: 0.3s all ease-in-out;
    font-size: 0.8rem;
  }
}
